// screen width
$screen-xxl: 1440px;
$screen-xl: 1200px;
$screen-lg: 991px;
$screen-md: 768px;
$screen-sm: 576px;
$screen-xs: 320px;

// container width
$container-base: 1590px;
$container-xxl: 1140px;
$container-xl: 1000px;
$container-lg: 791px;
$container-md: 628px;

//colors
$lilac: #A789D6;
$lavender: #BBA1E3;
$raker: #DECFF6;
$gray: #7E7E7E;
$merkury: #E3E3E3;
$white: #FFFFFF;